body{

background:#f4f6f8;

}

h1{

color:#003B8E;

font-weight:bold;

margin-bottom:30px;

}

.card{

border:none;

box-shadow:0px 2px 12px rgba(0,0,0,.15);

}

.table{

background:white;

}

.btn{

margin-right:5px;

}

label{

font-weight:bold;

margin-bottom:5px;

}

input{

margin-bottom:10px;

}

#tablaProductos{

margin-top:20px;

}
